
	/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: white;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #b8b8b8;
}

/* Current/active navbar link */
.active {
  background-color: #b8b8b8;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
body {
    background-color: white; /* default light mode background color */
    color: black; /* default light mode text color */
  }

  body.dark-mode {
    background-color: #141516; /* dark mode background color */
    color: white; /* dark mode text color */
  }

  body.dark-mode .navbar  {
    background-color: #141516;
  }

  body.dark-mode .navbar a {
    color: white;
  }

  body.dark-mode .navbar a:hover {
    background-color: #555;
  }

  body.dark-mode .navbar .active {
    background-color: #555;
  }
