<!DOCTYPE html>
<html lang="en">
  <script src="https://kit.fontawesome.com/c4bce5f821.js" crossorigin="anonymous"></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>
</head>

<div class="navbar">
    <a href="./home.html"><i class="fa fa-fw fa-home"></i> Home</a> 
    <a href="./profile.html"> <i class="fa fa-fw fa-user"></i> Profile</a> 
    <a href="./friends.html"><i class="fa-solid fa-users"></i> Friends</a> 
    <a class="active" href="./settings.html"><i class="fa-solid fa-gears"></i> Settings</a>
    <a class="toggle"  onclick="toggleDarkMode()"> <i class="fa-solid fa-circle-half-stroke"></i> Dark Mode</button> </a>

  </div>
   
<body>

</body>
</html>